header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  color: $secondary;
  font-size: 22px;
  color: white;
  padding-top: 50px;

  img {
    width: 100%;
    max-width: 400px;
  }
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-weight: bold;
  }

  input {
    width: 100%;
    color: white;
    background-color: #303030;
    border: 2px solid $primary;
    border-radius: 5px;
    padding: 12px 8px;
  }

  input[type="submit"] {
    max-width: calc(100% - 100px);
    background-color: $the_green;
    font-weight: bold;
    margin: 0 auto;
    border-color: $the_green;
  }

  .output {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
  }

  #result,
  #loading {
    text-align: center;
    margin-top: 50px;
    display: none;
  }

  #demo {
    background-color: #fff;
    color: $primary;
    font-weight: bold;
    filter: drop-shadow(1px 1px 1px black);
    border-radius: 2px;
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 5px 15px;
  }
}

.FormComponent {
  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
  }
}
